<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.lab5.mappers.AthleteMapperJava">

    <select id="selectAthleteById" resultMap="athleteResultMap">
        select A.*, T.*
        from athletes A
        join teams T on T.team_id = A.team_id
        where A.athlete_id = #{id};
    </select>

    <select id="selectAll" resultMap="athleteResultMap">
        select * from athletes;
    </select>

    <select id="selectAthleteByEventName" resultMap="athleteResultMap">
        select a.* , e.* from athletes a
        left join events_athletes ea on ea.athlete_id = a.athlete_id
        left join events e on e.event_id = ea.event_id
        where e.event_name = #{eventName};
    </select>

    <insert id="insertAthlete">
        insert into athletes (athlete_id, athlete_name, gender, age, team_id)
        values (#{athleteId}, #{athleteName}, #{gender}, #{age}, #{team.teamId})
    </insert>

    <update id="updateAthlete">
        update athletes
        set athlete_name = #{athleteName}, gender = #{gender}, age = #{age}, team_id = #{team.teamId}
        where athlete_id = #{athleteId}
    </update>

    <delete id="deleteAthlete">
        delete from athletes
        where athlete_id = #{id}
    </delete>

    <resultMap id="athleteResultMap" type="com.solvd.laba.lab1.model.Athlete" autoMapping="false">
        <id property="athleteId" column="athlete_id"/>
        <result property="athleteName" column="athlete_name"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <association property="team" resultMap="com.solvd.laba.lab5.mappers.TeamMapperJava.teamResultMap"/>
    </resultMap>
</mapper>