<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.lab5.mappers.ResultMapperJava">

    <select id="selectResultById" resultMap="resultResultMap">
        select R.*, E.*, A.*, T.*
        from results R
        join events E on E.event_id = R.event_id
        join athletes A on A.athlete_id = R.athlete_id
        join teams T on T.team_id = R.team_id
        where E.event_id = #{id}
    </select>

    <select id="selectAll" resultMap="resultResultMap">
        select * from results R
        join events E on E.event_id = R.event_id
        left join athletes A on A.athlete_id = R.athlete_id
        left join teams T on T.team_id = R.team_id;
    </select>

    <select id="selectResultByEventId" resultMap="resultResultMap">
        select * from results r
        join athletes a on a.athlete_id = r.athlete_id
        join teams t on t.team_id = a.team_id
        join nations n on n.nation_id = t.nation_id
        join events e on e.event_id = r.event_id
        where r.event_id = #{event.eventId}
    </select>

    <insert id="insertResult">
        insert into results (result_id, medal, event_id, athlete_id, team_id)
        values (#{resultId}, #{medal}, #{event.eventId}, #{athlete.athleteId}, #{team.teamId})
    </insert>

    <update id="updateResult">
        update results
        set medal = #{medal}, event_id = #{event.eventId}, athlete_id = #{athlete.athleteId}, team_id = #{team.teamId}
        where result_id = #{resultId}
    </update>

    <update id="updateMedalByAthleteId">
        update results
        set medal = #{medal}
        where athlete_id = #{athlete.athleteId}
    </update>

    <delete id="deleteResult">
        delete from results
        where result_id = #{id}
    </delete>

    <resultMap id="resultResultMap" type="com.solvd.laba.lab1.model.Result" autoMapping="false">
        <id property="resultId" column="result_id"/>
        <result property="medal" column="medal"/>
        <association property="event" resultMap="com.solvd.laba.lab5.mappers.EventMapperJava.eventResultMap"/>
        <association property="athlete" resultMap="com.solvd.laba.lab5.mappers.AthleteMapperJava.athleteResultMap"/>
        <association property="team" resultMap="com.solvd.laba.lab5.mappers.TeamMapperJava.teamResultMap"/>
    </resultMap>
</mapper>